:root {
    --white:hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);

}
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
       margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: var(--light-gray);
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.contenedor{
    background-color: var(--white);
    width: 300px;
    height: auto;
    border-radius: 1rem;
}
.contenedor img {
    width: 90%;
    border-radius: 1rem;
    margin: 1rem;
}

.texto 
h3,
p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1rem;
    
}
h3{
    font-weight: 700;
    font-size: 20px;
}
p{
    font-weight: 400;
    margin-bottom: 3rem;

}